<a href="https://colab.research.google.com/github/ThrishnajaKrishnan/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question no. 2

In [4]:
Name = "Thrishnaja Krishnan"
Address = "Payyanur, Kannur"
Telephone_no ="3567467"
print("Name:"+Name+"\n", "Address :"+ Address+"\n", "Telephone no:"+Telephone_no)

Name:Thrishnaja Krishnan
 Address :Payyanur, Kannur
 Telephone no:3567467

Question no. 3

In [7]:
 
name = "Thrishnaja Krishnan"
print("Your name is ", name)

Your name is  Thrishnaja Krishnan

Question no. 4

In [9]:
#area of a rectangle
Width = float(input("Enter the width:")) 
Height=float(input("Enter the height:")) 
area=Width*Height
print("The area is", area, "Square units")

Enter the width:9
Enter the height:3
The area is 27.0 Square units

Question no. 5

In [10]:
#area of a triangle
Base=float(input("Enter the width:")) 
Height=float(input("Enter the height:")) 
area = .5*Base*Height
print("The area is", area, "square units")

Enter the width:9
Enter the height:7
The area is 31.5 square units

Question no. 6

In [11]:
#area of a circle
radius = float(input("Enter the radius:")) 
area=3.14*radius**2
print("The area is", area, "square units")

Enter the radius:45
The area is 6358.5 square units

Question no. 7

In [17]:
Name = input("Enter your name: ") 
Age = input(" Enter your age:") 
print("My name is "+ Name+" and my age is " + Age)

Enter your name: Thrishnaja Krishnan
 Enter your age:19
My name is Thrishnaja Krishnan and my age is 19

Question no. 8

In [14]:
a=float(input("Enter a number: ")) 
a=a+1
print(a)

Enter a number: 4
5.0

Question no.9

In [15]:
Name = input("Enter your first name:") 
print(Name)

Enter your first name:Thrishnaja
Thrishnaja

In [16]:
input("Enter your first name: ")

Enter your first name: Thrishnaja

'Thrishnaja'